@charset "UTF-8";
/*
	---------------------------------------
	Casamento
	copyright 2013 Felipe Leão
	---------------------------------------
*/


/*
	# FONT FACE
*/
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}





/*
	-------------------
	# DEFAULT
	-------------------
*/
body{
    font-family: 'open_sanslight', arial, sans-serif;
	margin: 0;
	overflow-x: hidden;
}
.content{
	max-width:1440px;
	margin: 0 auto;
}
.topo{
	width:100%;
	height: 476px;
	background: url(../img/tayaneefelipe.jpg) no-repeat center top;
	overflow: hidden;
	margin: 0 auto;
}
.frase-topo{
	width:100%;
	text-align:center;
	font-size: 33px;
	color:#575757;
	padding:10px;
}
.img_topo{
	width:100%;
	height: 152px;
	background: url(../img/imagens-tayefelipe.jpg) no-repeat center top;
	overflow: hidden;
	margin: 0 auto;
}





/*
	-------------------
	# Menu
	-------------------
*/

.menu{
    width: 960px;
    border-bottom: 1px solid #73b090;
    margin: 0 auto 30px;
    text-align:center;
    font: 18px 'open_sansregular';
    text-transform: uppercase;
    list-style:none;
	color: #73b090;
    padding:24px 0;
}
.menu li{
    display: inline;
    margin: 0 4px;
}
.menu a{
    color:#515151;
    text-decoration: none;
}
.menu a:hover{
    color:#73b090;
}
.menu a.selected{
    color: #73b090;
}



